{% extends 'index.html' %}

{% block content %}
<div class="about-wrapper">
  <div class="about-container">
    <h1>🎨 About This Project</h1>
    <p>Welcome to the Art Gallery Management System!</p>
    <p>This project was built to help manage artists, artworks, collectors, and sales efficiently. It allows users to add new artworks, register collectors, track artwork history, and generate useful reports. 
    </p>
    <p>Built with ❤️ using FastAPI, SQLAlchemy, Jinja2, and Oracle Database, this system aims to provide a smooth and professional experience for managing gallery operations.</p>

    <h2>👨‍💻 About the Developer</h2>
    <p>Hello! My name is Mengsrun Nit, and I'm a junior studying Computer Science and Data Analytics at Furman University. 
    I built this project to sharpen my backend development skills, work with databases, and create a real-world system that makes a difference. 
    I'm passionate about building practical, efficient software and always eager to learn new technologies!</p>
  </div>
</div>
{% endblock %}
