{% extends 'index.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', path='css/form-style.css') }}">
{% endblock %}

{% block content %}
<div class="form-selection-wrapper">
  <div class="form-selection-container">
    <h2>Fill Out a Form</h2>

    <select id="form-select">
      <option value="">-- Select a form --</option>
      <option value="artist-form">Artist Information Form</option>
      <option value="collector-form">Collector Information Form</option>
      <option value="artwork-form">Artwork Information Form</option>
      <option value="sale-invoice">Sale Invoice</option>
      <option value="mailing-list-form">Mailing List Form</option>
    </select>

    <button id="select-form-btn" name="select">Select</button>
  </div>
</div>
<script src="{{ url_for('static', path='js/form-select.js') }}?v=99"></script>
{% endblock %}



{% block script %}
<script src="{{ url_for('static', path='js/form-select.js') }}?v=99"></script>
{% endblock %}