<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Navigation Bar</title>
  <title>My Page</title>
  <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='css/form-style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='css/report-style.css') }}">
 

  {% block style %}
  {% endblock %}
</head>
<body>
  <nav class="navbar">
    <div class="nav-left">
      <span class="logo">MySite</span>
      <a href="/" class="nav-link" data-url="/">Home</a>
      <a href="/report" class="nav-link" data-url="/report">Report</a>
      <a href="/form" class="nav-link" data-url="/form">Form</a>
      <a href="/about" class="nav-link" data-url="/about">About</a>
    </div>
    <div class="nav-right">
      <a href="/login" class="nav-link" data-url="/login">Login</a>
      <a href="/signup" class="nav-link" data-url="/signup">Sign Up</a>
    </div>
  </nav>

  <main id="main-content">
    {% block content %}
    {% endblock %}
  </main>

  {% block script %}{% endblock %}
  <script src="{{ url_for('static', path='js/form-select.js') }}?v=99"></script>
  <script src="{{ url_for('static', path='js/script.js') }}"></script>
</body>
</html>
