{% extends 'index.html' %}

{% block content %}
<div class="report-selection-wrapper">
  <div class="report-selection-container">
    <h2>Select Report</h2>

    <div class="report-links">
      <div><a href="/artgalleryproject/report/active-artists" class="report-link">Active Artists Summary Report</a></div>
      <div><a href="/artgalleryproject/report/individual-artist" class="report-link">Individual Artist Sales Report</a></div>
      <div><a href="/artgalleryproject/report/collector-summary" class="report-link">Collectors Summary Report</a></div>
      <div><a href="/artgalleryproject/report/individual-collector-sale" class="report-link">Individual Collector Sales Report</a></div>
      <div><a href="/artgalleryproject/report/work-for-sale" class="report-link">Works for Sale Report</a></div>
      <div><a href="/artgalleryproject/report/sales-this-week" class="report-link">Sales This Week Report</a></div>
      <div><a href="/artgalleryproject/report/aged-artworks" class="report-link">Aged Artworks Report</a></div>
      <div><a href="/artgalleryproject/report/show-details" class="report-link">Art Show Details</a></div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', path='js/report-select.js') }}"></script>
{% endblock %}
